language: erlang
sudo: false

env:
  global:
    - BASELINE=SWTDemo
  matrix:
    - SMALLTALK="SqueakTrunk"
    - SMALLTALK="Squeak4.6"
    - SMALLTALK="Squeak4.5"

addons:
  apt:
    packages:
    # 32-bit VM
    - libc6:i386
    # UUIDPlugin
    - libuuid1:i386

install:
   - wget -q -O swtDemo.zip https://github.com/fniephaus/SWT-Demo/archive/master.zip
   - unzip -q swtDemo.zip
   - export PROJECT_HOME="$(pwd)/SWT-Demo-master"
   - cd $HOME
   - wget -q -O filetreeCI.zip https://github.com/fniephaus/filetreeCI/archive/master.zip
   - unzip -q filetreeCI.zip
   - cd filetreeCI-*
   - export FILETREE_CI_HOME="$(pwd)"

script: $FILETREE_CI_HOME/run.sh