language: smalltalk
sudo: false

branches:
  except:
    - windows
    - /^v[0-9]/

install:
  # Move cache directory if it exists
  - if [[ -d "${SMALLTALK_CI_CACHE}" ]]; then mv $SMALLTALK_CI_CACHE "$(pwd)"; fi
  # Make sure to use smalltalkCI from this branch
  - if [[ -n "${SMALLTALK_CI_HOME}" ]]; then rm -rf $SMALLTALK_CI_HOME && ln -s "$(pwd)" $SMALLTALK_CI_HOME && source $SMALLTALK_CI_HOME/env_vars; fi

script: $SMALLTALK_CI_HOME/run.sh --debug

jobs:
  include:
    - stage: "Prioritized jobs"
      smalltalk: Squeak-5.1
    - smalltalk: Squeak-trunk
    - smalltalk: Pharo-stable
    - smalltalk: Pharo-alpha
    - smalltalk: GemStone-3.3.2
      env: GSCI_CLIENTS="Pharo-5.0 Pharo-4.0 Pharo-3.0"
      cache:
        directories:
          - $SMALLTALK_CI_CACHE

    - language: bash
      smalltalk:
      sudo: false
      script: tests/all_tests.sh

    - smalltalk: Squeak-5.1
      os: osx
    - smalltalk: Squeak-trunk
      os: osx
    - smalltalk: Pharo-stable
      os: osx
    - smalltalk: Pharo-alpha
      os: osx
    - smalltalk: GemStone-3.3.2
      os: osx
      cache:
        directories:
          - $SMALLTALK_CI_CACHE

    # Ensure that smalltalkCI can fail
    - smalltalk: Squeak-5.1
      smalltalk_config: .smalltalk_fail.ston
      script:
        - $SMALLTALK_CI_HOME/run.sh --debug || export SMALLTALK_CI_FAIL="true"
        - if [[ "${SMALLTALK_CI_FAIL}" != "true" ]]; then false; fi
    - smalltalk: Pharo-stable
      smalltalk_config: .smalltalk_fail.ston
      script:
        - $SMALLTALK_CI_HOME/run.sh --debug || export SMALLTALK_CI_FAIL="true"
        - if [[ "${SMALLTALK_CI_FAIL}" != "true" ]]; then false; fi
    - smalltalk: GemStone-3.3.2
      smalltalk_config: .smalltalk_fail.ston
      env: GSCI_CLIENTS="Pharo-5.0 Pharo-3.0" # latest and oldest clients
      script:
        - $SMALLTALK_CI_HOME/run.sh --debug || export SMALLTALK_CI_FAIL="true"
        - if [[ "${SMALLTALK_CI_FAIL}" != "true" ]]; then false; fi
      cache:
        directories:
          - $SMALLTALK_CI_CACHE

    - stage: "Linux jobs"
      smalltalk: Squeak-5.0
    - smalltalk: Squeak-4.6
    - smalltalk: Squeak-4.5
    - smalltalk: Pharo-7.0
    - smalltalk: Pharo-6.0
    - smalltalk: Pharo-5.0
    - smalltalk: Pharo-4.0
    - smalltalk: Pharo-3.0
    - smalltalk: Moose-trunk
    # - smalltalk: Moose-6.1   # identical to Moose-trunk
    - smalltalk: Moose-6.0
    - smalltalk: GemStone-3.2.15
      cache:
        directories:
          - $SMALLTALK_CI_CACHE
    - smalltalk: GemStone-3.1.0.6
      cache:
        directories:
          - $SMALLTALK_CI_CACHE

    - stage: "Mac jobs"
      smalltalk: Squeak-5.0
      os: osx
    - smalltalk: Squeak-4.6
      os: osx
    - smalltalk: Squeak-4.5
      os: osx
    - smalltalk: Pharo-7.0
      os: osx
    - smalltalk: Pharo-6.0
      os: osx
    - smalltalk: Pharo-5.0
      os: osx
    - smalltalk: Pharo-4.0
      os: osx
    - smalltalk: Pharo-3.0
      os: osx      
#    - smalltalk: GemStone-3.2.14
#      os: osx
##      env: GSCI_DEVKIT_BRANCH=dev  # only use for development
#    - smalltalk: GemStone-3.1.0.6
#      os: osx
##      env: GSCI_DEVKIT_BRANCH=dev  # only use for development

  allow_failures:
    - smalltalk: Squeak-trunk
    - smalltalk: Pharo-alpha
    - smalltalk: Moose-trunk
  fast_finish: true
